    <div class="navigation">
        <div class="navigation__container">
            <a href="/" class="navigation__logo">
                <img class="navigation__logo__image" src="/resources/img/Logo_white.png" alt="logo">
            </a>
            <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
            <label for="navi-toggle" class="navigation__button">
                <span class="navigation__icon">&nbsp;</span>
            </label>
            <nav class="navigation__nav">
                <ul class="navigation__list">
                    <li class="navigation__item"><a class="navigation__link" href="/services/">Services</a></li>
                    <li class="navigation__item"><a class="navigation__link" href="/aboutus/">About Us</a></li>
                    <li class="navigation__item"><a class="navigation__link" href="/jobs/">Jobs</a></li>
                    <li class="navigation__item"><a class="navigation__link" href="/our-work/">Our Work</a></li>
                    <li class="navigation__item"><a class="navigation__link" href="/news/">News</a></li>
                </ul>
            </nav>
            <a class="navigation__tel" href="tel:+441792763380">
                <span class="btn__text">01792 763 380</span><span class="btn__icon"><i class="fas fa-mobile-alt"></i></span>
            </a>
        </div>
    </div>
