.header {
    position: relative;

    &__hero {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 100vh;
        z-index: 0;

        &--main {
            overflow:hidden;
        }

        &--other {
            height: 60vh;
            width: 100%;
        }
        &--about {
            background-position: center center;
        }

        @include respond('ipad') {
            // height: 60vh;
            &--other {
                height: 50vh;
            }

            &--about {
                background-position: center center;
            }
        }

        @include respond('phoneXL') {
            &--other {
                height: 40vh;
            }

            &--about {
                height: 55vh;
            }
        }

        &__next {
            position: absolute;
            bottom: 2rem;
            left: calc(50% - 2.5rem);
            z-index: 99;
            color: $color-white;
            font-size: 5rem;
            will-change: transform;
            animation: bounce 2s infinite;
            font-weight: 300;
            transition: color .3s;

            &:hover {
                color: $color-primary-light;
            }
        }
    }

    &__btn {
        margin-top: 3rem;
    }

    &__box {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        margin: 0 auto;
        padding: 1rem;
        z-index: 5;
        font-weight: 700;
        background: linear-gradient(135deg, rgba(0,0,0,.1), rgba(0,0,0,.1));
    }

    &__overlay {
        position: absolute;
        bottom: -2rem;
        right: 0;
        z-index: 99;
        text-align: left;
        width: 90%;
        // height: 15rem;
        background-color: $color-primary-dark;
        color: $color-white;
        padding: 0 10rem;
        // border-top-left-radius: 7.5rem;

        @include respond('ipad') {
            padding: 0 0rem 0 5rem;
        }
    }

    &__title {
        &__main {
            text-align: left;
        }

        &__other {
            text-align: left;
            // color: $color-black;
            text-shadow: none;
            font-weight: bold;
            font-size: 2.5rem;

            @include respond('ipad') {
                font-size: 2rem;
            }

            @include respond('phoneXL') {
                font-size: 1.8rem;
            }
        }
    }

    &__subtitle {
        &__main {
            text-align: left;
        }

        &__other {
            text-align: left;
            // color: $color-black;
            text-shadow: none;
            font-size: 1.8rem;
            margin-right: 2rem;
            letter-spacing: .2rem;
            font-weight: 400;

            @include respond('ipad') {
                font-size: 1.6rem;
            }
    
            @include respond('phoneXL') {
                font-size: 1.4rem;
            }
        }
    }

    &__text {
        padding: 1rem 0;
    }

    &__subtitle {
        padding: 1rem 0;
    }
}

#bgvid {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
    z-index: 1;
}